<template>
    <v-row justify="center">
        <v-dialog v-model="isOpen" persistent>
            <v-card>
                <v-card-title class="headline pb-10">Предпросмотр базы номеров</v-card-title>
                <v-card-text>
                    <PhoneBasePreviewTable></PhoneBasePreviewTable>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" text @click="close()">Применить</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>

<script>
    import PhoneBasePreviewTable from "../PhoneBasePreviewTable";

    export default {
        name: 'PhoneBasePreview',
        components: {
            PhoneBasePreviewTable
        },
        data() {
            return {

            }
        },
        methods: {
            close() {
                if (this.$store.getters.PHONE_BASE_MAPPING_EXIST) {
                    this.$store.dispatch('CREATE_DELIVERY')
                        .then(() => {
                            this.$store.dispatch('SHOW_PREVIEW_MODAL', false);
                            this.$toast.success('Рассылка успешно создана');
                        })
                        .catch(() => {
                            this.$toast.error('Ошибка при создании рассылки');
                        })
                } else {
                    this.$toast.warning('Заполните заголовки базы!');
                }

            }
        },
        computed: {
            isOpen() {
                return this.$store.getters.SHOW_PREVIEW_MODAL;
            }
        }
    }
</script>
