$body-font-family: 'Fira Sans Condensed';
$heading-font-family: 'Fira Sans Condensed';
.v-snack__content .vts__message {
  color: white;
}
.v-application {
  font-family: $body-font-family, sans-serif !important;

  .display-1,
  .display-2,
  .display-3,
  .display-4,
  .title,
  .headline,
  .subtitle-1,
  .subtitle-2 {
    font-family: $body-font-family, sans-serif !important;
  }

  .text--bold {
    font-family: $body-font-family, sans-serif !important;
    font-weight: 700;
  }

  .text--thin {
    font-family: $body-font-family, sans-serif !important;
    font-weight: 300;
  }

  @media (max-width: 600px) {
    .display-1 {
      font-size: 1.65rem !important;
    }
    .title {
      font-size: 1.15rem !important;
      line-height: 1.5rem !important;
    }
  }
}
