<template>
    <div>
        <v-row>
            <v-col>
                <h2 class="text-uppercase panel-heading">Создание рассылки</h2>
            </v-col>
        </v-row>

        <v-row>
            <v-col cols="5">

                <div>
                    <p class="subtitle-1 font-weight-bold">Название рассылки</p>
                    <v-text-field
                            v-model="delivery.name"
                            label="Название рассылки"
                            outlined
                    ></v-text-field>
                </div>

                <div>
                    <p class="subtitle-1 font-weight-bold">Исходящий номер телефона</p>
                    <v-select
                            v-model="delivery.outgoing_phone"
                            :items="phones"
                            label="Исходящий номер телефона"
                            outlined
                            append-icon="mdi-refresh"
                            @click:append="getOutgoingPhones()"
                            :loading="isPhonesLoading"
                            :disabled="isPhonesLoading"
                    ></v-select>
                </div>

                <div class="pb-5">
                    <v-divider></v-divider>
                </div>

                <div>
                    <p class="subtitle-1 font-weight-bold">Импорт контактов</p>
                    <v-file-input
                            accept=".csv"
                            label="Файл номеров"
                            outlined
                            v-model="delivery.file"
                            hint="Файл должен быть в формате .csv">
                    </v-file-input>
                </div>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <v-btn outlined x-large @click="preview()" :disabled="isLoading">Создать</v-btn>
            </v-col>
        </v-row>
        <PhoneBasePreview></PhoneBasePreview>
    </div>
</template>

<script>
    import PhoneBasePreview from "../../components/Modals/PhoneBasePreview";
    export default {
        name: 'CreateDeliveryPage',
        components: {
            PhoneBasePreview
        },
        data() {
            return {}
        },
        created() {
             this.getOutgoingPhones();
        },
        computed: {
            isLoading() {
                return this.$store.getters.DELIVERY_IS_LOADING;
            },
            delivery() {
                return this.$store.getters.DELIVERY;
            },
            isPhonesLoading() {
                return this.$store.getters.OUTGOING_PHONES_IS_LOADING;
            },
            phones() {
                return this.$store.getters.OUTGOING_PHONES.map(item => item.phone);
            }
        },
        methods: {
            getOutgoingPhones() {
                this.$store.dispatch('GET_OUTGOING_PHONES');
            },
            preview() {
                if (this.delivery.file && this.delivery.outgoing_phone && this.delivery.name) {
                    this.$store.dispatch('BASE_PREVIEW')
                        .then(() => {
                            this.$store.dispatch('SHOW_PREVIEW_MODAL', true);
                        })
                } else {
                    this.$toast.warning('Проверьте правильность заполнения полей!');
                }
            },
        }
    }
</script>
