<template>
    <div>
        <v-row>
            <v-col>
                <h2 class="text-uppercase panel-heading">Рассылки</h2>
            </v-col>
            <v-col >
                <div class="float-right">
                    <v-btn outlined x-large @click="create()">Создать рассылку</v-btn>
                </div>
            </v-col>
        </v-row>

        <v-row>
            <v-col>
                <v-simple-table fixed-header dark>
                    <template v-slot:default>
                        <thead>
                        <tr>
                            <th class="text-left">Название</th>
                            <th class="text-left">Исходящий номер</th>
                            <th class="text-left">Статус</th>
                            <th class="text-left">Статистика (Закончено/Всего)</th>
                            <th class="text-left">Время создания</th>
                            <th class="text-left">Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="delivery in deliveries">
                            <td>{{ delivery.name }}</td>
                            <td>{{ delivery.outgoing_phone }}</td>
                            <td>{{ delivery.status }}</td>
                            <td>{{ delivery.statistics.finished }} / {{ delivery.statistics.all }}</td>
                            <td>{{ delivery.created_at }}</td>
                            <td>
                                <v-btn @click="info(delivery)" outlined small>Просмотр</v-btn>
                            </td>
                        </tr>
                        </tbody>
                    </template>
                </v-simple-table>
            </v-col>
        </v-row>

    </div>
</template>

<script>
    export default {
        name: 'DeliveriesPage',
        data() {
            return {

            }
        },
        created() {
            this.$store.dispatch('GET_DELIVERIES');
        },
        computed: {
            deliveries() {
                return this.$store.getters.DELIVERIES;
            }
        },
        methods: {
            info(delivery) {
                this.$router.push({name: 'delivery-detail', params: {id: delivery.id}})
            },
            create() {
                this.$router.push({name: 'delivery-create'})
            }
        }
    }
</script>
