<template>
    <div>
        <v-row>
            <v-col>
                <h2 class="text-uppercase panel-heading">Информация о рассылке</h2>
            </v-col>
        </v-row>

        <v-row>
            <v-col>
                <v-data-table
                        dark
                        :headers="headers"
                        :items="calls.calls"
                        :options.sync="options"
                        :server-items-length="calls.total"
                        :loading="isLoading"
                        class="elevation-1"
                ></v-data-table>
            </v-col>
        </v-row>
    </div>
</template>

<script>
    export default {
        name: 'DeliveryDetailPage',
        data() {
            return{
                headers: [
                    { text: 'Номер', value: 'phone_formatted', sortable: false },
                    { text: 'Статус', value: 'status_formatted', sortable: false },
                    { text: 'Ответ', value: 'ivr_answers', sortable: false },
                    { text: 'Запись', value: 'record_file_path', sortable: false },
                    { text: 'Время создания', value: 'created_at', sortable: false },
                    { text: 'Время завершения', value: 'finished_at', sortable: false },
                ],
                options: {},
            }
        },
        created() {
            this.$store.dispatch('GET_DELIVERY_DETAIL', this.$route.params.id);
            this.$store.dispatch('GET_DELIVERY_CALLS', {id: this.$route.params.id});
        },
        methods: {

        },
        computed: {
            delivery() {
                return this.$store.getters.CURRENT_DELIVERY;
            },
            calls() {
                return this.$store.getters.CURRENT_DELIVERY_CALLS;
            },
            isLoading() {
                return this.$store.getters.DELIVERY_IS_LOADING;
            }
        },
        watch: {
            options: {
                handler () {
                    this.$store.dispatch('GET_DELIVERY_CALLS', {id: this.$route.params.id, ...this.options});
                },
                deep: true,
            },
        },
    }
</script>
