<template>
    <div>
        <v-row>
            <v-col>
                <h2 class="text-uppercase panel-heading">Настройки</h2>
            </v-col>
        </v-row>
         <v-row >
             <v-col cols="5">
                 <div>
                     <p class="subtitle-1 font-weight-bold">Логин от кабинета ZVONOBOT</p>
                     <v-text-field
                             v-model="user.zvonobot_login"
                             label="Логин"
                             outlined
                     ></v-text-field>
                 </div>
                 <div>
                     <p class="subtitle-1 font-weight-bold">Пароль от кабинета ZVONOBOT</p>
                     <v-text-field
                             label="Пароль"
                             outlined
                             v-model="user.zvonobot_password"
                             :type="form.showPassword ? 'text' : 'password'"
                             :append-icon="form.showPassword ? 'mdi-eye-off' : 'mdi-eye'"
                             @click:append="form.showPassword = !form.showPassword"
                     ></v-text-field>
                 </div>
                 <div>
                     <p class="subtitle-1 font-weight-bold">Ключ авторизации Bitrix24</p>
                     <v-text-field
                             v-model="user.bitrix_key"
                             label="API ключ Bitrix24"
                             outlined
                     ></v-text-field>
                 </div>
                 <div>
                     <p class="subtitle-1 font-weight-bold">Под-домен Bitrix24</p>
                     <v-text-field
                             v-model="user.bitrix_subdomain"
                             label="Логин"
                             outlined
                     ></v-text-field>
                 </div>
             </v-col>
         </v-row>
        <v-row>
            <v-col>
                <v-btn outlined x-large @click="save()" :disabled="isLoading">Сохранить</v-btn>
            </v-col>
        </v-row>
    </div>
</template>

<script>
    export default {
        name: 'SettingsPage',
        data() {
            return {
                form: { showPassword: false }
            }
        },
        computed: {
            user() {
                return this.$store.getters.AUTH_USER
            },
            isLoading() {
                return this.$store.getters.SETTINGS_IS_LOADING;
            }
        },
        methods: {
            save() {
                this.$store.dispatch('UPDATE_USER_SETTINGS')
                    .then(() => {
                        this.$toast.success('Настройки сохранены');
                    })
                    .catch(() => {
                        this.$toast.error('Неизвестная ошибка!');
                    })
            }
        }
    }
</script>
