<template>
    <v-container fill-height fluid>
        <div style="width: 100%">
        <v-row justify="center" align="center">
            <v-col cols="6">
                <p class="text-center text-uppercase auth-heading">Авторизация</p>
            </v-col>
        </v-row>
        <v-row justify="center" align="center" style="margin-top: 10px">
            <v-col cols="3">
                <v-row>
                    <v-col>
                        <v-text-field
                                v-model="credentials.login"
                                label="Логин"
                                outlined
                        ></v-text-field>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <v-text-field
                                label="Пароль"
                                outlined
                                v-model="credentials.password"
                                :type="form.showPassword ? 'text' : 'password'"
                                :append-icon="form.showPassword ? 'mdi-eye-off' : 'mdi-eye'"
                                @click:append="form.showPassword = !form.showPassword"
                        ></v-text-field>
                    </v-col>
                </v-row>
            </v-col>
        </v-row>
        <v-row justify="center" align="center">
            <v-btn outlined x-large @click="auth()" :disabled="isLoading">Войти</v-btn>
        </v-row>
    </div>
    </v-container>
</template>

<script>
    export default {
        name: 'AuthPage',
        data() {
            return {
                form: {
                    showPassword: false
                }
            }
        },
        methods: {
            auth() {
                this.$store.dispatch('AUTH')
                    .then(() => {
                        this.$router.push({ name: 'settings' });
                    })
                    .catch(() => {
                        this.$toast.error('Проверьте правильность заполнения полей!');
                    })
            }
        },
        computed: {
            credentials() {
                return this.$store.getters.AUTH_CREDENTIALS;
            },
            isLoading() {
                return this.$store.getters.AUTH_IS_LOADING;
            }
        }
    }
</script>

<style>
    .auth-heading {
        font-weight: 200 !important;
        font-size: 54px !important;
        color: #505050;
    }
</style>
