<template>
        <v-container fluid>
            <div class="panel">
                <v-row>
                    <v-col cols="3">
                        <Navbar></Navbar>
                    </v-col>
                    <v-col cols="9">
                        <router-view/>
                    </v-col>
                </v-row>
            </div>
        </v-container>
</template>

<script>
    import Navbar from "../components/Navbar";
    export default {
        name: 'PanelLayout',
        components: {
            Navbar
        },
        data() {
            return {
                items: [
                    {title: 'Dashboard', icon: 'dashboard'},
                    {title: 'Account', icon: 'account_box'},
                    {title: 'Admin', icon: 'gavel'},
                ],
            }
        },
        beforeCreate() {
            const user = this.$store.getters.AUTH_USER;
            if (!user) {
                this.$store.dispatch('GET_AUTH_USER').catch(() => {
                    this.$router.push({name: 'auth'});
                    this.$store.dispatch('LOGOUT');
                });
            }
        },
        beforeRouteEnter(to, from, next) {
            const route = to.path == '/panel'
                ? '/panel/settings'
                : undefined;
            next(route);
        },
        beforeRouteUpdate(to, from, next) {
            const route = to.path == '/panel'
                ? '/panel/settings'
                : undefined;
            next(route);
        },
    }
</script>

<style>
    .panel {
        padding: 20px;
    }
    .panel-heading {
        font-weight: 200 !important;
        font-size: 42px !important;
        color: #505050;
        padding-bottom: 50px;
    }
</style>
