<template>
        <v-card
                height="500"
                width="256"
                elevation="4"
        >
            <v-navigation-drawer
                    dark
                    permanent
                    floating
            >
                <v-list-item>
                    <v-list-item-content>
                        <v-list-item-title class="title">
                            ZVONOBOT + Bitrix24
                        </v-list-item-title>
                        <v-list-item-subtitle>
                            Интеграция
                        </v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>

                <v-divider></v-divider>

                <v-list class="navbar-list">
                    <v-list-item
                            v-for="item in items"
                            :key="item.title"
                            link
                    >
                        <v-list-item-content @click="route(item)">
                            <v-list-item-title>{{ item.title }}</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>

                <template v-slot:append>
                    <div class="pa-4">
                        <v-btn block color="primary" @click="logout()">Выйти</v-btn>
                    </div>
                </template>
            </v-navigation-drawer>
        </v-card>
</template>

<script>
    export default {
        name: 'NavbarComponent',
        data() {
            return {
                items: [
                    {title: 'Рассылки', route: 'deliveries'},
                    {title: 'Настройки', route: 'settings'},
                ],
            }
        },
        methods: {
            route(item){
                this.$router.push({name: item.route})
            },
            logout() {
                this.$store.dispatch('LOGOUT').then(() => {
                    this.$router.push({name: 'auth'})
                })
            }
        }

    }
</script>

<style>

</style>
