<template>
    <v-simple-table fixed-header height="300px">
        <template v-slot:default>
            <thead>
            <tr>
                <th class="text-left" v-for="(row, $index) in rows[0]">
                    <v-select
                            v-model="mapping[$index.toString()]"
                            :items="fields"
                            item-text="description"
                            item-value="name"
                            label="Заголовок"
                            single-line
                            clearable
                    ></v-select>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(row, $index) in rows">
                <td v-for="data in row">{{ data }}</td>
            </tr>
            </tbody>
        </template>
    </v-simple-table>
</template>

<script>
    export default {
        name: 'PhoneBasePreviewTable',
        data() {
            return {
                fields: [
                    {name: 'phone', description: 'Телефон'},
                    {name: 'contact_id', description: 'ID контакта'},
                    {name: 'name', description: 'Имя'},
                    {name: 'surname', description: 'Фамилия'},
                    {name: 'second_name', description: 'Отчество'},
                ],
            }

        },
        computed: {
            rows() {
                return this.$store.getters.PREVIEW_ROWS;
            },
            mapping() {
                return this.$store.getters.DELIVERY_PHONE_BASE_MAPPING;
            }
        },

        methods: {

        }
    }
</script>
