<template>
    <v-app>
        <v-content>
            <div class="layout">
                <router-view/>
            </div>
        </v-content>
    </v-app>
</template>

<script>
    import AxiosClient from "./config/axios";
    import Header from "./components/Header";

    export default {
        name: 'App',
        components: {
            Header
        },

        data: () => ({
            //
        }),
        methods: {
            login() {
                AxiosClient.post('/auth/login').then(() => {
                    console.log('Login success');
                })
            },
            protectedRoute() {
                AxiosClient.post('/user/protected', {}, {
                    withCredentials: true
                }).then(() => {
                    console.log('Protected requests success');
                })
            },
            logout() {
                AxiosClient.post('/auth/logout').then(() => {
                    console.log('Logout success');
                })
            }
        }
    };
</script>

<style>

    body {
        font-family: 'Fira Sans Condensed', 'Roboto', Arial, sans-serif !important;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-color: #fbfbfb;
        overflow: hidden;
    }

    .layout {
        width: 100%;
        height: 100%;
        background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(199, 199, 199, 1) 75%);
    }

    .color-white {
        color: white;
    }
</style>
